head
	meta(http-equiv="Content-type" content="text/html; charset=utf-8")
	title Сергей Петров — ваш консультант по информационным технологиям
	meta(name="description" content="Проектирование, разработка веб-сервисов, консультирование стартапов, веб-интерфейсы, Meteor, Bitcoin, аудит, прототипы")
	link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
	link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
	link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
	link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="/manifest.json")
	meta(name="apple-mobile-web-app-title", content="Сергей (IT)")
	meta(name="application-name", content="Сергей Петров: ИТ консультант")
	meta(name="msapplication-TileColor", content="#2b5797")
	meta(name="msapplication-TileImage", content="/mstile-144x144.png")
	meta(name="theme-color", content="#ffffff")
	meta(property="og:url" content="http://sergeypetrov.ru")
	meta(property="og:site_name" content="Сергей Петров")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Сергей Петров — ваш консультант по информационным технологиям")
	meta(property="og:description" content="Я проектирую, разрабатываю и провожу аудит веб-сервисов, информационных систем и приложений, а также, помогаю командам и деловым людям в решении любых вопросов, касающихся информационных технологий. Вашей команде не хватает экспертизы? Нужно быстро решить проблему? Я помогу вам.")
	meta(property="og:locale" content="ru_RU")
	meta(property="fb:admins" content="100000094107137")
			
body

template(name="mainLayout")
	+yield
