body
	font-family 'San Francisco', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif !important
	-webkit-font-smoothing subpixel-antialiased
	font-size 1rem
	line-height 1.5

.ui.button
	font-weight normal !important
