.disclaimer
	.column
		align-self center

.saulGag
	color #999
	font-style italic

.portrait
	width 200px
	height 200px
	border-radius 15px

.footer
	padding-bottom 3em

.contacts

	.item
		line-height 2
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	.bitcoin
		white-space normal
		word-break break-all

.showCase
	display none

.cases

	padding-top 1em !important
	padding-bottom 2em !important

	.header
		font-weight normal

	.dividing.header
		color rgba(255,255,255,0.7)

	.case

		cursor pointer

		.ui.header
			text-decoration underline
			margin-bottom 0

		.subtitle
			color rgba(255,255,255,0.7)
