.ticker
	margin-left 2em
	color #999
	font-size 90%

	i.ruble.icon
		margin-left -0.4em

.disclaimer
	.column
		align-self center

.saulGag
	color #dadada
	font-style italic

.portrait
	width 200px
	height 200px
	// border-radius 15px

.footer
	height 100%
	padding-top 1em
	padding-bottom 3em
	display flex

	.ui.quote
		width 60%
		margin 0 auto
		font-size 140%
		line-height 1.6
		font-family 'Georgia'
		// font-style italic
		color #aaa
		// text-shadow: 1px 1px 4px rgba(200,200,200,1)
		align-self center
		text-align left

		p
			margin-top 1em

		.button
			margin-top 3em

.contacts
	padding-bottom 20em

	.item
		line-height 2
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	.bitcoin
		white-space normal
		word-break break-all

.freeConsultText
	margin-right 4em !important
	line-height 4em

.cases

	padding-top 3em !important
	padding-bottom 1em !important

	.header
		font-weight normal

	.divider.header
		font-weight bold !important

	// .dividing.header
	// 	color rgba(0,0,0,0.7)

	.case

		// cursor pointer
		height 100px
		padding 1em

		.role
			color #999
			font-size 80%

		.ui.header
			// text-decoration underline
			margin-bottom 0

		.ui.link.header
			text-decoration underline

		&:hover
			background-color #eaeaea

		// .subtitle
		// 	color rgba(255,255,255,0.7)
.freeConsult
	border-radius 0 !important
